*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", "sans-serif";
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #013243;
}

body h1 {
  position: relative;
  margin: 20rem 0 0 3rem;
  color: #32f5c8;
  font-size: 5.2rem;
  line-height: 6.4rem;
  font-weight: 600;
  z-index: 100;
}

body p {
  margin: 3rem 0 0 3rem;
  padding-right: 7rem;
  color: #aabdc7;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

body .logo {
  margin: 3rem 0 0 3rem;
}

body .avatar-1 {
  display: none;
}

body .avatar-2 {
  display: block;
  position: absolute;
  top: 15rem;
  right: 1rem;
  z-index: 2;
}

body .avatar-3 {
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 1;
}

body .avatar-4 {
  display: none;
}

body .avatar-5 {
  display: none;
}

body .avatar-6 {
  position: absolute;
  top: 62rem;
  left: 14rem;
}

body button {
  margin: 3rem 0 0 3rem;
  background-color: #32f5c8;
  border: none;
  border-radius: 0.4rem;
  padding: 2.8rem;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

section {
  margin-bottom: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3rem 0 3rem 0;
}

footer .twitter {
  margin: 18rem 0 0 3rem;
  cursor: pointer;
}

footer .follow {
  margin: 19rem 0 0 1.6rem;
}

footer .container {
  max-width: 1200px;
  width: 100%;
}

@media screen and (min-width: 48em) and (max-width: 1100px) {
  body h1 {
    margin-right: 20rem;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8.5rem;
  }
  body p {
    font-size: 1.8rem;
    padding-right: 30rem;
    z-index: 200;
  }
  body button {
    padding: 1.8rem;
    font-size: 1.8rem;
  }
  body .avatar-1 {
    position: absolute;
    top: 23rem;
    right: 10rem;
    display: block;
  }
  body .avatar-2 {
    position: absolute;
    top: 5%;
    right: 5rem;
    width: 17%;
  }
  body .avatar-3 {
    position: absolute;
    top: 10%;
  }
  body .avatar-4 {
    display: block;
    position: absolute;
    bottom: 2%;
    right: 10rem;
    width: 30%;
  }
  body .avatar-5 {
    display: block;
    position: absolute;
    top: 20%;
    right: 30rem;
  }
  body .avatar-6 {
    top: 45%;
    left: 40rem;
    width: 15%;
    z-index: 1;
  }
}

@media screen and (min-width: 1110px) {
  body .logo {
    margin-left: 15rem;
  }
  body h1 {
    margin-top: 4rem;
    font-size: 12rem;
    line-height: 12.2rem;
    margin-left: 15rem;
  }
  body p {
    margin-left: 15rem;
    padding-right: 70rem;
    font-size: 2rem;
  }
  body button {
    margin-left: 15rem;
    padding: 1.8rem;
  }
  body footer {
    margin-left: 12rem;
    margin-top: -15rem;
  }
  body .avatar-1 {
    display: block;
    position: absolute;
    bottom: 20%;
    right: 55rem;
  }
  body .avatar-3 {
    position: absolute;
    top: 20%;
    left: 5%;
  }
  body .avatar-4 {
    display: block;
    position: absolute;
    right: 15rem;
    bottom: 5rem;
    width: 15%;
  }
  body .avatar-6 {
    width: 10%;
    position: absolute;
    top: 40%;
    left: 75rem;
  }
  body .avatar-5 {
    display: block;
    position: absolute;
    right: 20rem;
  }
}
