// Color Variables

$Mint: #32f5c8;
$Bg: #013243;
$Text: #aabdc7;

//Defaults

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", "sans-serif";
}

body {
  background-color: $Bg;
  h1 {
    position: relative;
    margin: 20rem 0 0 3rem;
    color: $Mint;
    font-size: 5.2rem;
    line-height: 6.4rem;
    font-weight: 600;
    z-index: 100;
  }
  p {
    margin: 3rem 0 0 3rem;
    padding-right: 7rem;

    color: $Text;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .logo {
    margin: 3rem 0 0 3rem;
  }

  .avatar-6 {
    position: absolute;
    top: 55rem;
    left: 23rem;
  }
  .avatar-2 {
    position: absolute;
    top: 15rem;
    right: 1rem;
    z-index: 2;
  }
  .avatar-3 {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
  }
  button {
    margin: 3rem 0 0 3rem;
    background-color: $Mint;
    border: none;
    border-radius: 0.4rem;
    padding: 2.8rem;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  }
}

section {
  margin-bottom: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  margin: rem 0 3rem 0;
  .twitter {
    margin: 18rem 0 0 3rem;
    cursor: pointer;
  }
  .follow {
    margin: 19rem 0 0 1.6rem;
  }
}
